body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #555555;
}
.wrapper {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 400px;
    margin: auto;
    text-align: center;
}

.state {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    display: none;

    &:target {
        display: block;
    }
}

.state--levelselect {
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        position: relative;
        width: 200px;
        height: 200px;
        float: left;
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
    }
}
.state--winwin {
    background-color: #fff;
}

.level {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 5em;
    height: 5em;
    padding: 1em;
    border-radius: 50%;
    line-height: 5;
    &:hover {
        color: #555555;
    }
    &.is-done {
        pointer-events: none;
        border-width: 1px;
        -webkit-animation: glowing 1500ms infinite; /* Safari 4+ */
        -moz-animation:    glowing 1500ms infinite; /* Fx 5+ */
        -o-animation:      glowing 1500ms infinite; /* Opera 12+ */
        animation:         glowing 1500ms infinite; /* IE 10+, Fx 29+ */
    }
    transition: background-color 200ms ease;
}
.level--fire {
    border: solid 3px #b15050;
    color: #b15050;
    &:hover {
        background-color: #b15050;
    }
}
.level--water {
    border: solid 3px #5177cd;
    color: #5177cd;
    &:hover {
        background-color: #5177cd;
    }
}
.level--air {
    border: solid 3px #f0e292;
    color: #f0e292;
    &:hover {
        background-color: #f0e292;
    }
}
.level--earth {
    border: solid 3px #3a7956;
    color: #3a7956;
    &:hover {
        background-color: #3a7956;
    }
}

canvas {
    margin-top: 2em;
    border: #000 1px solid;
}

.score {
    position: absolute;
    top: 0;

    i {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: pink;
    }
}

a {
    font-size: 20px;
}


@-webkit-keyframes glowing {
    0%   {
        box-shadow: 0 0 1px 1px;
    }
    50% {
        box-shadow: 0 0 10px 10px;
    }
    100%   {
        box-shadow: 0 0 1px 1px;
    }
}
@-moz-keyframes glowing {
    0%   {
        box-shadow: 0 0 1px 1px;
    }
    50% {
        box-shadow: 0 0 10px 10px;
    }
    100%   {
        box-shadow: 0 0 1px 1px;
    }
}
@-o-keyframes glowing {
    0%   {
        box-shadow: 0 0 1px 1px;
    }
    50% {
        box-shadow: 0 0 10px 10px;
    }
    100%   {
        box-shadow: 0 0 1px 1px;
    }
}
@keyframes glowing {
    0%   {
        box-shadow: 0 0 1px 1px;
    }
    50% {
        box-shadow: 0 0 10px 10px;
    }
    100%   {
        box-shadow: 0 0 1px 1px;
    }
}



